# Ignore virtual environments
venv/
.venv/
env/
.env/
.quantumvenv

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log
